@use '../abstracts/variables';

.body__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.body_hold {
  overflow: hidden;
}

.filter__title {
  font-size: 1.2em;
  font-weight: 600;
}

.range-min,
.range-max {
  min-height: 24px;
  min-width: 24px;
}
